/*!
 * tnxel.css
 * 对Element UI CSS的通用调整
 */
body {
    margin: 0;
}

.el-divider__text, .el-link {
    font-weight: unset;
    font-size: unset;
}

.el-form-item {
    margin-bottom: 1rem;
}

.el-form-item:last-child {
    margin-bottom: 0;
}

.el-form-item__label {
    padding-right: 10px;
}

.el-form-item__content,
.el-form-item__error,
.el-input__inner {
    padding-left: 10px;
}

.el-form-item__error {
    min-width: 96px;
}

el-button {
    visibility: hidden;
}

.el-alert {
    width: unset;
    margin: 1rem 10px;
    padding: 10px 12px;
}

.el-message-box {
    vertical-align: unset;
}

.el-message {
    min-width: unset;
    top: unset;
    padding: 12px 1rem;
    flex-direction: column;
}

.el-message .el-message__icon {
    margin: 0 0 10px 0;
    font-size: 2rem;
}

.el-message .el-message__content {
    line-height: 120%;
    max-width: 17.5rem; /* 刚好容纳20个汉字的宽度，以尽可能让一行文本的左右空白宽度一致。rem=14n/16 */
}

.el-loading-spinner {
    top: calc(40vh + 25px);
}

.el-dialog {
    border-radius: 4px;
}

.el-dialog--center .el-dialog__body {
    text-align: center;
}

.el-table td.tnxel-table_tags {
    padding: 7px 0;
}

.el-table td.tnxel-table_tags .el-tag:not(:last-child),
.el-table td.tnxel-table_tags .tnxel-table_tag:not(:last-child) {
    margin: 3px 6px 3px 0;
}
