/**
 * tnxbs.css
 */
.form-group.row .col-form-label {
    text-align: right;
}

.btn:not(:first-child) {
    margin-left: 7px;
}

.modal-toast .modal-content,
.modal-loading .modal-content {
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    min-width: 100px;
}

.modal-toast .modal-content .fa {
    font-size: 56px;
}

.modal-loading .modal-content img {
    width: 56px;
    height: 56px;
}