/**
 * tnxbs.css
 */
.modal-toast .modal-content,
.modal-loading .modal-content {
    text-align: center;
    padding: 30px;
    margin: 0 auto;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    min-width: 100px;
}

.modal-toast .modal-content .fa,
.modal-loading .modal-content img {
    width: 56px;
    height: 56px;
}